/* your styles go here */
div.dt-buttons {
	float: right;
}

.watermark {
    opacity: 0.2;
	font-size: 52px;
	color: 'black';
	background: '#ccc';
	position: absolute;
	cursor: default;
	user-select: none;
	right: 30%;
	bottom: 50%;
	top:20%;
	width:40%;
}