/* your styles go here */
div.dt-buttons {
	float: right;
}

.watermark {
    opacity: 0.2;
	font-size: 52px;
	color: 'black';
	background: '#ccc';
	position: absolute;
	cursor: default;
	user-select: none;
	right: 30%;
	bottom: 50%;
	top:20%;
	width:40%;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 15px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 1.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  .grid-stack-element{
	touch-action: none;
  }

  	.select2-search__field{
		width: 100% !important;
		height: 100% !important;
	}

	.select2-selection--single{
		width: 100% !important;
		height: 100% !important;
	}
	
	.fc-col-header-cell{
		background:purple;
	}
	.fc-col-header-cell-cushion {
		color: white !important;
	}